<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <span class="titulo">Listado de Productos</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">Nuevo</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>Coca-cola</th>
                            <td>Bebida</td>
                            <td>Buenos Aires</td>
                            <td>2,5</td>
                            <td><i class="far fa-edit text-primary"></i>
                                <i class="far fa-trash-alt text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Malboro</th>
                            <td>Cigarrillos</td>
                            <td>Barcelona</td>
                            <td>5</td>
                            <td>
                              <i class="far fa-edit text-primary"></i>
                              <i class="far fa-trash-alt text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>